<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/shop.css">
  <script src="https://kit.fontawesome.com/78e69903aa.js" crossorigin="anonymous"></script>
  <title>Agrimart Shop</title>
</head>
<body>
  <div class="header">
    <div class="logout">
      <form method="get" action="{{ url_for('logout') }}">
        <button type="submit" name="button-logout">Logout</button>
      </form>
    </div>
      <p class="logo"></p>
        <div class="cart"><i class="fa-solid fa-cart-shopping" style="color: #000000;"></i><p id="count">{{ cart|length }}</p></div>
  </div>
  <div class="container">
    <div class="products">
      <div class="grid-container">
        {% for product in products %}
          <div class="box">
            <div class="img-box">
              <img class="images" src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
            </div>
              <h3>{{ product.name }}</h3>
                <p>Price: ₱{{ product.price }}</p>
                  <form method="post" action="{{ url_for('add_to_cart') }}">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="number" name="quantity" value="1" min="1">
                    <input type="submit" value="Add to Cart" class="add-to-cart-btn">
                  </form>
          </div>
        {% endfor %}
    </div>
  </div>
        <div class="sidebar">
            <div class="head"><p>My Cart</p></div>
            <div id="cartItems">
                {% if not cart %}
                    <div id="cartItem">Your cart is empty.</div>
                {% else %}
                    <ul>
                        {% for product in cart %}
  <div class="product-cart">
    <div class="product-image">
      <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
    </div>
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p>Quantity: {{ product.quantity }}</p>
      <p>Price: ₱{{ product.price }}</p>
      <form method="post" action="{{ url_for('remove_from_cart') }}">
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit" name="button-remove">Remove from cart</button>
      </form>
    </div>
  </div>
{% endfor %}
                    </ul>
                {% endif %}
                <div class="foot">
                    <h3>Total</h3>
                    <h2 id="total">₱ {{ calculate_total(cart) }}</h2>
                </div>
            </div>
            <form method="get" action="{{ url_for('checkout') }}">
                <button type="submit" name="button-checkout">Proceed to checkout</button>
            </form>
        </div>
   </div>
 
</body>
</html>
